<div class="wrapper">

	<h1>{{infosGenerales.nomVille}}</h1>
	<p>Bois : {{infosGenerales.nombreBoisVille}} / Fer : {{infosGenerales.nombreFerVille}} / Pierre : {{infosGenerales.nombrePierreVille}} / Nourriture : {{infosGenerales.nombreNourritureVille}} / </p>
	<p>
		Population disponible:
		<b> 
			{{infosGenerales.populationTotaleVille - infosGenerales.populationOccupeeVille}}
		</b>
	<p>
	<p>
		Places disponibles:
		<b>
		 {{infosGenerales.populationMaxVille - infosGenerales.populationTotaleVille}}
		</b>
	</p>
	<hr/>


	<div ng-show="listeBatiments" ng-repeat="batiment in batiments" >
		<h4>{{batiment.nomBatiment}}</h4>
		<p ng-if="batiment.niveauBatiment > 0"> 
			Niveau: {{batiment.niveauBatiment}} 
			<i ng-click="afficherBatiment(batiment.idVilleBatiment)" class="pointer fa fa-arrow-up" aria-hidden="true"></i>
		</p>
		<p ng-if="batiment.niveauBatiment == 0">Construire</p>	
	<hr/>
	</div>

	<div ng-show="actionsBatiment" class="actionsBatiment">

		<h4>{{infosBatiment.nomBatiment}}</h4>
		<p>Niveau: {{infosBatiment.niveauBatiment}}</p>

	  	<div ng-if="coutsAmelioration != false" class="ameliorerBatiment">

			<p>
				<b> Coût </b> pour passer au niveau {{coutsAmelioration.niveauBatiment}} :
			</br>
				Bois : {{coutsAmelioration.coutBoisBatiment}} / Pierre : {{coutsAmelioration.coutPierreBatiment}} / Fer : {{coutsAmelioration.coutFerBatiment}} / Nourriture : {{coutsAmelioration.coutNourritureBatiment}} / villageois : {{coutsAmelioration.coutVillageoisBatiment}}
			</p>
	  	</div>

		<p  ng-show="ressourcesInsuffisantes" style="color:red;"> 
			Ressources insuffisantes
		</p>  

	  	<p style="color:red;" ng-show="coutsAmelioration == false">
	  		Impossible de construire, batiments requis
	  	</p>

	  	<hr/>
		<p ng-click="ameliorerBatiment(infosBatiment.idVilleBatiment)">
			Améliorer au niveau {{coutsAmelioration.niveauBatiment}} 
		</p>
		<button ng-click="actionsBatiment = false; listeBatiments = true;" type="button" class="btn btn-default">	Retour
		</button>

	</div>


</div>