
.wrapper{
	max-width:1200px;
	margin:auto;
}

.inscriptionAccueil, .connectionAccueil{
	padding:25px;
	border: 1px solid #333;
	width: 40%;
	background-color: rgba(58, 71, 51, 0.5);
}

.inscriptionAccueil input{
	width: 250px;
}

.inscriptionAccueil .description{
	color: white;
}

.pointer{
	cursor: pointer;
}

.menu-top li>a{
	color: white;
}

.wrapper .nomVille{
	/*padding-top: 5px;*/
	/*text-align: center;*/
}

.wrapper .ressources{
	/*padding-bottom: 10px;*/
}

.bandeauInfosVille{ 
	padding-bottom: 100px;
}